<div class="content__title">
    <h1>
        信息发布
        <!--<small>A complete set of notification posibilities</small>-->
    </h1>
    <!--<nz-breadcrumb>-->
    <!--<nz-breadcrumb-item>-->
    <!--<a [routerLink]="['/dashboard']">Dashboard</a>-->
    <!--</nz-breadcrumb-item>-->
    <!--<nz-breadcrumb-item>-->
    <!--<a [routerLink]="['/elements/buttons']">Buttons</a>-->
    <!--</nz-breadcrumb-item>-->
    <!--<nz-breadcrumb-item>-->
    <!--Notifications-->
    <!--</nz-breadcrumb-item>-->
    <!--</nz-breadcrumb>-->
</div>

<nz-card>
    <ng-template #body>
        <form nz-form>
            <div nz-row nz-form-item [nzGutter]="8">
                <div nz-form-label nz-col [nzSm]="3">
                    <label>标题</label>
                </div>
                <div nz-form-control nz-col [nzSm]="8">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'输入标题'"
                        [nzFilter]="false"
                        [(ngModel)]="filter.title"
                        name="filter.title"
                        (nzSearchChange)="titleSearchChange($event)"
                        [nzNotFoundContent]="'无法找到'"
                        [nzShowSearch]="true">
                        <nz-option
                            *ngFor="let option of titleSearchOptions"
                            [nzLabel]="option"
                            [nzValue]="option">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-form-label nz-col [nzSm]="3">
                    <label>公告类型</label>
                </div>
                <div nz-form-control nz-col [nzSm]="8">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'输入类型'"
                        [nzFilter]="true"
                        [(ngModel)]="filter.type"
                        name="filter.type"
                        (nzSearchChange)="typeSearchChange($event)"
                        [nzNotFoundContent]="'无法找到'"
                        [nzShowSearch]="true">
                        <nz-option
                            *ngFor="let option of typeSearchOptions"
                            [nzLabel]="option"
                            [nzValue]="option">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row nz-form-item [nzGutter]="8" class="mb0">
                <div nz-form-label nz-col [nzSm]="3">
                    <label>时间范围</label>
                </div>
                <div nz-form-control nz-col [nzSm]="9">
                    <nz-datepicker (ngModelChange)="filter.publishDateFrom=$event;startValueChange()"
                                   [ngModel]="filter.publishDateFrom"
                                   name="filter.publishDateFrom"
                                   [nzDisabledDate]="disabledStartDate"
                                   [nzFormat]="'YYYY-MM-DD'"
                                   [nzPlaceHolder]="'起始日期'"></nz-datepicker>
                    &nbsp;
                    <nz-datepicker (ngModelChange)="filter.publishDateTo=$event;endValueChange()"
                                   [ngModel]="filter.publishDateTo"
                                   name="filter.publishDateTo"
                                   [nzDisabledDate]="disabledEndDate"
                                   [nzFormat]="'YYYY-MM-DD'"
                                   [nzPlaceHolder]="'终止日期'"></nz-datepicker>
                </div>
                <div nz-form-label nz-col [nzSm]="2">
                    <label>状态</label>
                </div>
                <div nz-form-control nz-col [nzSm]="5">
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                            {{filter.status | noticeStatus}} <i class="anticon anticon-down"></i>
                        </a>
                        <ul nz-menu>
                            <li
                                nz-menu-item
                                *ngFor="let status of filterStatusList"
                                (click)="filter.status=status.value">{{status.label}}
                            </li>
                        </ul>
                    </nz-dropdown>
                </div>
                <div nz-col [nzSm]="5" [nzOffset]="0">
                    <button nz-button [nzType]="'primary'" (click)="load(true)" [nzLoading]="loading">查询</button>
                    <button nz-button (click)="openDetail({})" [disabled]="loading">新增</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-card>

<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <ng-template #body>
                <!--<div class="mb-sm text-right">-->
                <!--<nz-dropdown>-->
                <!--<button nz-button nz-dropdown>-->
                <!--<span>Export</span> <i class="anticon anticon-down"></i>-->
                <!--</button>-->
                <!--<ul nz-menu>-->
                <!--<li nz-menu-item>Excel</li>-->
                <!--<li nz-menu-item>JSON</li>-->
                <!--<li nz-menu-item>PNG</li>-->
                <!--</ul>-->
                <!--</nz-dropdown>-->
                <!--</div>-->
                <nz-table #nzTable
                          [nzAjaxData]="list"
                          [nzShowSizeChanger]="true"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="pageIndex"
                          (nzPageIndexChange)="load()"
                          [(nzPageSize)]="pageSize"
                          (nzPageSizeChange)="load(true)">
                    <thead nz-thead>
                    <tr>
                        <th nz-th><span>公告类型</span></th>
                        <th nz-th><span>标题</span></th>
                        <th nz-th><span>发布时间</span></th>
                        <th nz-th><span>状态</span></th>
                        <th nz-th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td>{{data.type}}</td>
                        <td nz-td>{{data.title}}</td>
                        <td nz-td>{{data.publishDate | _date}}</td>
                        <td nz-td>{{data.status | noticeStatus}}</td>
                        <td nz-td>
                            <a (click)="openDetail(data, true)">详情</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm [nzTitle]="'确定要删除吗？'" [nzOkText]="'删除'" [nzCancelText]="'取消'"
                                           (nzOnConfirm)="deleteData(data)">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                            <span nz-table-divider></span>
                            <nz-popconfirm [nzTitle]="'确定要发布吗？'" [nzOkText]="'发布'" [nzCancelText]="'取消'"
                                           (nzOnConfirm)="releaseData(data)">
                                <a nz-popconfirm>发布</a>
                            </nz-popconfirm>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-card>
    </div>
</div>

<nz-modal [nzVisible]="isVisible"
          [nzTitle]="(dialogStatus | dataOper)+'信息公告'"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel($event)"
          [nzConfirmLoading]="isConfirmLoading"
          (nzOnOk)="handleOk($event)"
          [nzMaskClosable]="maskClosable">
    <ng-template #modalContent>
        <form nz-form [formGroup]="valForm" (ngSubmit)="submit()" role="form">
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label>公告标题</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('title')">
                    <nz-input formControlName="title" [nzPlaceHolder]="'公告标题'" [nzSize]="'large'"
                              [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label>公告类型</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('type')">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'公告类型'"
                        [nzFilter]="true"
                        formControlName="type"
                        (nzSearchChange)="typeChange($event)"
                        (ngModelChange)="typeModelChange($event)"
                        [nzNotFoundContent]="'无法找到'"
                        [nzShowSearch]="true"
                        [nzDisabled]="dialogStatus === 'view'">
                        <nz-option
                            *ngFor="let option of typeOptions"
                            [nzLabel]="option"
                            [nzValue]="option">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label>公告内容</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('content')">
                    <nz-input nzType="textarea"
                              [nzAutosize]="{minRows:3, maxRows:10}"
                              formControlName="content"
                              [nzPlaceHolder]="'公告内容'"
                              [nzSize]="'large'"
                              [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label>有效日期</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('validDate')">
                    <nz-datepicker formControlName="validDate"
                                   [nzPlaceHolder]="'有效日期'"
                                   [nzFormat]="'YYYY-MM-DD'"
                                   [nzSize]="'large'"
                                   [nzDisabled]="dialogStatus === 'view'">
                    </nz-datepicker>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
            {{dialogStatus == 'view'?'关 闭':'取 消'}}
        </button>
        <button nz-button *ngIf="dialogStatus != 'view'" [disabled]="!valForm.valid" [nzType]="'primary'"
                [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
            保 存
        </button>
        <button nz-button *ngIf="dialogStatus != 'view'" [disabled]="!valForm.valid" [nzType]="'primary'"
                [nzSize]="'large'" (click)="handleOk($event, true)" [nzLoading]="isConfirmLoading">
            立即发布
        </button>
    </ng-template>

</nz-modal>
