<div class="content__title">
    <h1>
        房产档案管理
        <!--<small>A complete set of notification posibilities</small>-->
    </h1>
    <!--<nz-breadcrumb>-->
        <!--<nz-breadcrumb-item>-->
            <!--<a [routerLink]="['/dashboard']">Dashboard</a>-->
        <!--</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>-->
            <!--<a [routerLink]="['/elements/buttons']">Buttons</a>-->
        <!--</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>-->
            <!--Notifications-->
        <!--</nz-breadcrumb-item>-->
    <!--</nz-breadcrumb>-->
</div>

<nz-card>
    <ng-template #body>
        <form nz-form>
            <div nz-row nz-form-item [nzGutter]="0" class="mb0">
                <div nz-form-label nz-col [nzSm]="1">
                    <label>分区</label>
                </div>
                <div nz-form-control nz-col [nzSm]="3">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'选择分区'"
                        [(ngModel)]="filter.zone"
                        [nzShowSearch]="true"
                        (ngModelChange)="setBuildings($event)"
                        name="filter.zone">
                        <nz-option
                            *ngFor="let option of zones"
                            [nzLabel]="option.zoneId"
                            [nzValue]="option.zoneId">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-form-label nz-col [nzSm]="1">
                    <label>楼宇</label>
                </div>
                <div nz-form-control nz-col [nzSm]="3">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'选择楼宇'"
                        [(ngModel)]="filter.building"
                        [nzShowSearch]="true"
                        (ngModelChange)="setUnits($event)"
                        name="filter.building">
                        <nz-option
                            *ngFor="let option of buildings"
                            [nzLabel]="option.buildingId"
                            [nzValue]="option.buildingId">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-form-label nz-col [nzSm]="1">
                    <label>单元</label>
                </div>
                <div nz-form-control nz-col [nzSm]="3">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'选择单元'"
                        [(ngModel)]="filter.unit"
                        [nzShowSearch]="true"
                        name="filter.unit">
                        <nz-option
                            *ngFor="let option of units"
                            [nzLabel]="option"
                            [nzValue]="option">
                        </nz-option>
                    </nz-select>
                </div>

                <div nz-form-label nz-col [nzSm]="1">
                    <label>房号</label>
                </div>
                <div nz-form-control nz-col [nzSm]="2">
                    <nz-input [(ngModel)]="filter.room" name="filter.room"></nz-input>
                </div>
                <div nz-form-label nz-col [nzSm]="2">
                    <label>房屋状态</label>
                </div>
                <div nz-form-control nz-col [nzSm]="3">
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                            {{filter.status | roomStatus}} <i class="anticon anticon-down"></i>
                        </a>
                        <ul nz-menu>
                            <li
                                nz-menu-item
                                *ngFor="let status of roomStatusList"
                                (click)="filter.status=status.value">{{status.label}}</li>
                        </ul>
                    </nz-dropdown>
                </div>
                <div nz-col [nzSm]="4" [nzOffset]="0">
                    <button nz-button [nzType]="'primary'" (click)="load(true)" [nzLoading]="loading">查询</button>
                    <button nz-button (click)="add()" [disabled]="loading">新增</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-card>

<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <ng-template #body>
                <!--<div class="mb-sm text-right">-->
                    <!--<nz-dropdown>-->
                        <!--<button nz-button nz-dropdown>-->
                            <!--<span>Export</span> <i class="anticon anticon-down"></i>-->
                        <!--</button>-->
                        <!--<ul nz-menu>-->
                            <!--<li nz-menu-item>Excel</li>-->
                            <!--<li nz-menu-item>JSON</li>-->
                            <!--<li nz-menu-item>PNG</li>-->
                        <!--</ul>-->
                    <!--</nz-dropdown>-->
                <!--</div>-->
                <nz-table #nzTable
                          [nzAjaxData]="list"
                          [nzShowSizeChanger]="true"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="pageIndex"
                          (nzPageIndexChange)="load()"
                          [(nzPageSize)]="pageSize"
                          (nzPageSizeChange)="load(true)">
                    <thead nz-thead>
                    <tr>
                        <th nz-th><span>分区</span></th>
                        <th nz-th><span>楼宇</span></th>
                        <th nz-th><span>单元</span></th>
                        <th nz-th><span>房号</span></th>
                        <th nz-th><span>套内／产权面积</span></th>
                        <th nz-th><span>房屋状态</span></th>
                        <th nz-th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td>{{data.zoneId}}</td>
                        <td nz-td>{{data.buildingId}}</td>
                        <td nz-td>{{data.unitId}}</td>
                        <td nz-td>{{data.roomId}}</td>
                        <td nz-td>{{data.floorArea | numFormat}}/{{data.propertyArea | numFormat}}</td>
                        <td nz-td>{{data.status | roomStatus}}</td>
                        <td nz-td>
                            <a (click)="openDetail(data)">详情</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm [nzTitle]="'确定要删除吗？'" [nzOkText]="'删除'" [nzCancelText]="'取消'" (nzOnConfirm)="delete(data)">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                            <span nz-table-divider></span>
                            <a (click)="openDetail(data, true)">编辑</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-card>
    </div>
</div>
