<div class="content__title">
    <h1>
        收费明细
        <!--<small>A complete set of notification posibilities</small>-->
    </h1>
    <!--<nz-breadcrumb>-->
    <!--<nz-breadcrumb-item>-->
    <!--<a [routerLink]="['/dashboard']">Dashboard</a>-->
    <!--</nz-breadcrumb-item>-->
    <!--<nz-breadcrumb-item>-->
    <!--<a [routerLink]="['/elements/buttons']">Buttons</a>-->
    <!--</nz-breadcrumb-item>-->
    <!--<nz-breadcrumb-item>-->
    <!--Notifications-->
    <!--</nz-breadcrumb-item>-->
    <!--</nz-breadcrumb>-->
</div>

<nz-card>
    <ng-template #body>
        <form nz-form>
            <div nz-row nz-form-item [nzGutter]="0" class="mb0">
                <div nz-form-label nz-col [nzSm]="2">
                    <label>账单类型</label>
                </div>
                <div nz-form-control nz-col [nzSm]="3">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'选择账单类型'"
                        [(ngModel)]="filter.billId"
                        [nzShowSearch]="true"
                        name="filter.billId">
                        <nz-option
                            *ngFor="let option of billIdList"
                            [nzLabel]="option.billName"
                            [nzValue]="option.billId">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-form-label nz-col [nzSm]="1">
                    <label>账期</label>
                </div>
                <div nz-form-control nz-col [nzSm]="2">
                    <nz-datepicker [nzMode]="'month'"
                                   [(ngModel)]="filter.billPeriod"
                                   name="filter.billPeriod"
                                   [nzFormat]="'YYYY-MM'"
                                   [nzPlaceHolder]="'账期'"></nz-datepicker>
                </div>
                <div nz-form-label nz-col [nzSm]="2">
                    <label>支付状态</label>
                </div>
                <div nz-form-control nz-col [nzSm]="3">
                    <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'选择支付状态'"
                        [(ngModel)]="filter.payStatus"
                        [nzShowSearch]="true"
                        name="filter.payStatus">
                        <nz-option
                            *ngFor="let option of filterPayStatusList"
                            [nzLabel]="option.label"
                            [nzValue]="option.value">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col [nzSm]="4" [nzOffset]="7" align="right">
                    <button nz-button [nzType]="'primary'" (click)="load(true)" [nzLoading]="loading">查询</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-card>

<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <ng-template #body>
                <!--<div class="mb-sm text-right">-->
                <!--<nz-dropdown>-->
                <!--<button nz-button nz-dropdown>-->
                <!--<span>Export</span> <i class="anticon anticon-down"></i>-->
                <!--</button>-->
                <!--<ul nz-menu>-->
                <!--<li nz-menu-item>Excel</li>-->
                <!--<li nz-menu-item>JSON</li>-->
                <!--<li nz-menu-item>PNG</li>-->
                <!--</ul>-->
                <!--</nz-dropdown>-->
                <!--</div>-->
                <nz-table #nzTable
                          [nzAjaxData]="list"
                          [nzShowSizeChanger]="true"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="pageIndex"
                          (nzPageIndexChange)="load()"
                          [(nzPageSize)]="pageSize"
                          (nzPageSizeChange)="load(true)">
                    <thead nz-thead>
                    <tr>
                        <th nz-th><span>账期</span></th>
						<th nz-th><span>账单类别</span></th>
                        <th nz-th><span>房产</span></th>
						<th nz-th><span>金额</span></th>
						<th nz-th><span>支付状态</span></th>
                        <th nz-th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td>{{data.billPeriod}}</td>
                        <td nz-td>{{data.billName}}</td>
						<td nz-td>{{data.propertyName}}</td>
						<td nz-td>{{data.amount}}</td>
						<td nz-td>{{data.payStatus | payStatusPipe}}</td>
                        <td nz-td>
                            <a (click)="openDetail(data)">缴费项明细</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-card>
    </div>
</div>
<!--
<nz-modal [nzVisible]="isVisible"
          [nzTitle]="(dialogStatus | dataOper)+'出账'"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel($event)"
          [nzConfirmLoading]="isConfirmLoading"
          (nzOnOk)="handleOk($event)"
          [nzMaskClosable]="maskClosable">
    <ng-template #modalContent>
        <form nz-form [formGroup]="valForm" (ngSubmit)="submit()" role="form">

			包含四大类：
			1.固定收费项目
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费科目</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('subjectName')">
                    <nz-input formControlName="subjectName" [nzPlaceHolder]="'收费科目'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费时段</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('period')">
                    <nz-input formControlName="period" [nzPlaceHolder]="'收费时段'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费金额</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('amount')">
                    <nz-input formControlName="amount" [nzPlaceHolder]="'收费金额'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费倍率</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('rate')">
                    <nz-input formControlName="rate" [nzPlaceHolder]="'收费倍率'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>


			2.车位相关收费项目
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费科目</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('subjectName')">
                    <nz-input formControlName="subjectName" [nzPlaceHolder]="'收费科目'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费时段</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('period')">
                    <nz-input formControlName="period" [nzPlaceHolder]="'收费时段'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费金额</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('amount')">
                    <nz-input formControlName="amount" [nzPlaceHolder]="'收费金额'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费倍率</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('rate')">
                    <nz-input formControlName="rate" [nzPlaceHolder]="'收费倍率'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>单价</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('fee')">
                    <nz-input formControlName="fee" [nzPlaceHolder]="'单价'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>车位数量</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('carNum')">
                    <nz-input formControlName="carNum" [nzPlaceHolder]="'车位数量'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>


			3.房产面积相关收费项目
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费科目</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('subjectName')">
                    <nz-input formControlName="subjectName" [nzPlaceHolder]="'收费科目'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费时段</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('period')">
                    <nz-input formControlName="period" [nzPlaceHolder]="'收费时段'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费金额</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('amount')">
                    <nz-input formControlName="amount" [nzPlaceHolder]="'收费金额'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费倍率</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('rate')">
                    <nz-input formControlName="rate" [nzPlaceHolder]="'收费倍率'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>单价</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('fee')">
                    <nz-input formControlName="fee" [nzPlaceHolder]="'单价'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>房产面积</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('propertyArea')">
                    <nz-input formControlName="propertyArea" [nzPlaceHolder]="'房产面积'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>

			4.仪表用量相关收费项目
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费科目</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('subjectName')">
                    <nz-input formControlName="subjectName" [nzPlaceHolder]="'收费科目'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
            <div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费时段</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('period')">
                    <nz-input formControlName="period" [nzPlaceHolder]="'收费时段'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费金额</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('amount')">
                    <nz-input formControlName="amount" [nzPlaceHolder]="'收费金额'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>收费倍率</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('rate')">
                    <nz-input formControlName="rate" [nzPlaceHolder]="'收费倍率'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>一级用量单价</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('feeLevelOne')">
                    <nz-input formControlName="feeLevelOne" [nzPlaceHolder]="'一级用量单价'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>一级用量</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('levelOneUsage')">
                    <nz-input formControlName="levelOneUsage" [nzPlaceHolder]="'一级用量'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>二级用量单价</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('feeLevelTwo')">
                    <nz-input formControlName="feeLevelTwo" [nzPlaceHolder]="'二级用量单价'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>二级用量</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('levelTwoUsage')">
                    <nz-input formControlName="levelTwoUsage" [nzPlaceHolder]="'二级用量'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>三级用量单价</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('feeLevelThree')">
                    <nz-input formControlName="feeLevelThree" [nzPlaceHolder]="'三级用量单价'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>
			<div nz-row nz-form-item>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>三级用量</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control [nzValidateStatus]="getFormControl('levelThreeUsage')">
                    <nz-input formControlName="levelThreeUsage" [nzPlaceHolder]="'三级用量'" [nzSize]="'large'" [nzDisabled]="dialogStatus === 'view'">
                    </nz-input>
                </div>
            </div>


        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
            {{dialogStatus == 'view'?'关 闭':'取 消'}}
        </button>
        <button nz-button *ngIf="dialogStatus != 'view'" [disabled]="!valForm.valid" [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
            提 交
        </button>
    </ng-template>

</nz-modal>
-->
